.wide-hero.champions {
  background: cdn('../images/champions/champions_microsite_hero.jpg');
}
.text-content {

  h3.champion-name {
    width:100%;
    text-align: center;
    background:$dark-blue;
    color:white;
    font-size:emCalc(22);
    margin: 0;
    margin-top: -50px;
    position: relative;
    padding: 10px;
    z-index: 999;
    clear: both;
  }

}

ul.champions-social {
  margin-top: 10px;
  li{
    display: inline-block;
    list-style-type: none;
    border: 0;
    background: none;
    a {
      padding: 8px;
      border-bottom: 0;
      font-size: 24px;
      &:hover {
        border-bottom: 0;
        color:white;
        background:$dark-blue;
      }
    }
  }
}
