form.search {
  position: relative;
  input.query:focus ~ .searchResults {
    display: block;
  }
}

.searchResults {
  position: absolute;
  width:100%;
  background:white;
  z-index: 99;
  border-radius: 0 0 $global-radius $global-radius;
  border:1px solid $grey-3;
  top:42px;
  display: none;
  span.highlight {
    font-weight:600;
    background:#FFFFD6;
    padding:0 2px;
    border-radius:2px;
  }
  li {
    display: block;
    width:100%;
    margin:0;
    a {
      padding:10px;;
      display: block;
      color:$grey-7;
    }
    &.active-item, &:hover {
      a {
        background:$dark-blue;
        color:white;
        span.highlight {
          color:black;
        }
      }
    }
  }
}