body.theme-dark {
  background: cdn("../images/design/bg-dark.jpg") top center repeat-x;
  // Header
  header.main {
    background:none;
  }

  // Main Nav
  .top-bar {
    background-color:$black;
    input[type="text"] {
      background:rgba(255,255,255,0.5); // search
    }
  }
  nav.top-bar {
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    background:black;
  }
  .top-bar-section li a:not(.button) {
    background: none;
  }
  .top-bar-section {
    // Main Nav Elements
    ul.social {
      li {
        background:black;
      }
    }
    .main-menu {
      li {
        background:black;
        a {
          color:$white;
          background:none;
        }
      }
    }
  }

  // Logo
  h1.logo {
    a {
      color:darken($light-blue,5%);
      strong {
        color:$white;
      }
    }
  }

  // sub Nav
  .sub-nav {
    dd.login {
      border-right:2px solid $white;
    }
    dd.login, dd.register {
      a {
        color:$white;
      }
    }
  }
  
  // Search Box
  .home {
    input[type="text"] {
      background-color: $grey-3;
    }
  }
  
}
